#TOC ul {
  display: block;
  margin-left: 0px;
  padding-left: 0px;
}

#TOC ul li {
  display: inline-block;
  margin-right: 20px;
}

#avatar {
    max-width: 100%;
    text-align: center;
}

#avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid transparent;
    transition: transform 0.5s ease-in-out;
}

#avatar img:hover {
  border: 5px solid darkgrey;
  transform: scale(1.1);
}