#TOC ul {
  display: inline;
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

#TOC ul li {
  display: inline;
  margin-right: 15px;
}

#avatar {
    max-width: 100%;
    text-align: center;
}

#avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid transparent;
    transition: transform 0.5s ease-in-out;
}

#avatar img:hover {
    transform: scale(1.1);
}